button {
  border-radius: 0px;
}

.continue-button {
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition:
    filter 0.3s ease,
    transform 0.2s ease;
}

.continue-button:hover {
  filter: brightness(0.85);
  transform: translateY(-2px);
}
